{% for type in allTypeParcours %}
    {% set niveaux = type.niveauxs['0'].id %}
    {% set semestre =  type.niveauxs['0'].semestres['0'].id %}
    <li><a href="{{ path('etemps',{'type':type.id , 'niveaux':niveaux ,'semestre':semestre}) }}">{{ type.type }}</a></li>
{% endfor %}
