{% for type in allTypeParcours %}
    {% set niveaux = type.niveauxs['0'].id %}
    <li><a href="{{ path('repartitionEC',{'type':type.id , 'niveaux':niveaux}) }}">{{ type.type }}</a></li>
{% endfor %}
