.box{
   background-color: #fff;
   overflow-y:scroll; 
   height: 100%;
}
.table>thead:first-child>tr:first-child>th {
   border-top: 0;
   vertical-align: bottom;
   vertical-align: baseline;
   /* transform-origin: bottom left;
   transform: rotate(-90deg);
   width: 100%; */
}

.ui-datatable th { writing-mode: vertical-lr; }

.badge {
   display: inline-block;
   min-width: 10px;
   padding: 3px 7px;
   font-size: 12px;
   font-weight: 700;
   line-height: 1;
   color: #fff;
   text-align: center;
   white-space: nowrap;
   vertical-align: middle;
   background-color: red !important;
   border-radius: 10px;
}

.form-error-message
{
   color:red !important;
}
