{% extends 'base.html.twig' %}

{% block title %}Evenement{% endblock %}

{% block insideHeader %}
    <section class="content-header">
        <h1>
            Evenement
        </h1>
        <ol class="breadcrumb">
            <li>
                <a href="#">
                    <i class="fa fa-dashboard"></i>
                    Evenement</a>
            </li>
        </ol>
    </section>
{% endblock %}

{% block body %}
    {{ school.content }}
{% endblock %}
